GOOGLE_API_KEY="API key from Google Cloud Console"

GCS_BUCKET_NAME="gs://aditya-hackathon"

export GOOGLE_CLOUD_PROJECT=bhabani-demo-461705
export GOOGLE_CLOUD_LOCATION=us-central1
export GOOGLE_GENAI_USE_VERTEXAI=True

GOOGLE_CLOUD_PROJECT="bhabani-demo-461705"
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI="True"